<div class="about-main">
    <div class="content container">
        <h1>Relive your favorite memories</h1>
    </div>
</div>
<div class="about-supporting">
    <div class="container">
        <h2>No more sorting through photos</h2>
        <p>Stories automatically finds your photos and creates a travelogue for you. Capture and share experiences like never before.</p>
        <p>
            <a class="btn btn-primary" href="#">Sign up</a>
        </p>
    </div>
</div>