<div class="about-main">
    <div class="content container">
        <h1>Relive great experiences</h1>
    </div>
</div>
<div class="about-supporting">
    <div class="container">
        <h2>No more storing and sorting photos</h2>
        <p>Stories automatically finds your photos and creates a travelogue for you. Capture and share experiences like never before.</p>
        <p>
            <%= link_to "Sign up", new_signup_path, :class => "btn btn-primary" %>
        </p>
    </div>
</div>