<div class="main">
    <div class="row">
        <div class="container">
            <div class="content col-md-6 pull-right">
              <h1>Create and share stories</h1>
              <p>
                <%= link_to "Learn more", about_path, :class => "btn btn-primary" %>
              </p>
            </div>
        </div>
    </div>  
</div>

<div class="supporting">
    <div class="container">
        <h2>Relive your adventures</h2>
        <p>Stories automatically creates a digital journal filled with your best photos and notes</p>
    </div>
</div>
<div class="secondary">
    <div class="container">
        
    </div>    
</div>
<div class="about">
    <div class="container">
        <h2>Find friends and share experiences</h2>
        <p>
            <%= link_to "Learn more", about_path, :class => "btn btn-primary" %>
        </p>
    </div>    
</div>

