.contact-main {
    background: url("https://stories-rails.herokuapp.com/assets/contact-main-9fb04617516938f849971735fed62270.jpg") no-repeat center center;
    background-size: cover;
    height: 700px;
}

.contact-main h1 {
    color: #fff;
    font-size: 52px;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0,0,0,0.5);
    margin-bottom: 30px;
    font-weight: 100;
}

.contact-main .content {
    position: relative;
	top: 150px;
    text-align: center;
}

.form {
    text-align: left;
}

.form label {
    font-size: 16px;
    color: #fff;
    display: block;
    width: 100%;
}

.form input {
    padding: 10px 10px;
    font-size: 20px;
    margin-bottom: 20px;
    opacity: 0.75;
    width: 100%;
    border: none;
}

.form .btn {
    color: #333;
    width: 33%;
    border-radius: 2px;
}